#gif-image {    
    width: 100%;
    height: auto;
}

#slider-instructions {
    color: black;
    text-align: match-parent;
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;    
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 680px) {
    #gif-wrapper .jsgif canvas, #gif-image {
        width: 100%;
        height: auto;
        max-width: 500px;
    }
}
