p.caption {
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

p {
  text-align: justify;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

#box-text {
  padding: 0px 20px 0px 20px;
  text-align: justify;
}

.box-title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.125em;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 10px;
}

.box-content {
  border-radius: 25px;
  padding-bottom: 15px;
}

.learning-objectives-content {
  background-color: #ffedc2;
}

.learning-objectives-top {
  background-color: #FFD166;
}

.call-out-content {
  background-color: #f9b5c5;
}

.call-out-top {
  background-color: #EF476F;
}

.your-turn-content {
  background-color: #9befd8;
}

.your-turn-top {
  background-color: #06D6A0;
}

.case-study-content {
  background-color: #a0d0e0;
}

.case-study-top {
  background-color: #118AB2;
}

#animation img {
    display: none;
}
#animation img:first-child {
    display: block;
}
