.legends-root {
    width: 100vw;
}

.legends-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 2em;
    margin: auto;
}

.gradient-legend-wrapper {
    display: flex;
    flex-direction: column;
}

.list-legend-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1em;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.gradient-labels-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.legend-item-wrapper {
    margin: 1ex 0;
    display: flex;
    column-gap: 0.75em;
}

.legend-text {
    font-size: small;
}

.legend-key {
    height: 16px;
    width: 20px;
    vertical-align: middle;
}

.legend-value {
    flex: 1 1 auto;
}

#vertical-gradient {
    display: none;
}

#horizontal-gradient {
    height: 1.5em;
}

@media (orientation: landscape) {
    .legends-wrapper {
        justify-content: center;
        width: auto;
        max-width: 150px;
        height: 100vh;
        row-gap: 10px;
        margin: 0;
        padding-left: 15px;

        bottom: 0;
    }

    .gradient-legend-wrapper {
        flex-direction: row;
        column-gap: 10px;
    }

    .list-legend-wrapper {
        flex-direction: column;
        width: max-content;
    }

    .gradient-labels-wrapper {
        flex-direction: column;
    }

    #horizontal-gradient {
        display: none;
    }

    #vertical-gradient {
        display: block;
        width: 2em;
    }
}

@media (min-width: 640px) and (min-height: 640px) {
    .legend-text {
        font-size: initial;
    }
}