.link-back {
    position: absolute;
    bottom: 10px;
    left: 10px;
    min-width: 200px;
}

a {
    color: inherit;
    font-size: small;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}